.header
{
    background: #E3E1EA;
}

html body {
    background: #F4F4F4;
}

#CarProtector
{
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 47px;
    color: #952FB9;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); 
}

#Products
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #952FB9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Support
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #952FB9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#For_partners
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #952FB9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Blog
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #952FB9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Structure
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #952FB9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-outline
{
    background-color:  #952FB9;
    color: white;
}

.box_get_started
{
    position: absolute;
    width: 116px;
    height: 35px;
    right: 30px;
    top: 18px;
    border: 3px solid darkorchid;
    font-size: 18px;
    font-weight: bold;
    color: darkorchid;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 33px;
    font-family: Roboto;
    transition: .6s;
    overflow: hidden;
    border-radius: 8px;
}

.box_get_started::before,
.box_get_started::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: darkorchid;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.box_get_started::after
{
    opacity: 1;
    transition-delay: .2s;
}

.box_get_started:hover
{
    color: #fff;
}

.box_get_started:hover::before,
.box_get_started:hover::after
{
    left: 0;
}

.blocks
{
    top: 100px;
    position: relative;  
    margin: 5px  
}

.block-item
{
    position: relative;
    text-align: center;
    background: #FFFFFF;
    height: 336px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dont_know
{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29%;
    letter-spacing: 0.09em;
    color: #290F72;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test 
{
    display: block;
    text-align: center;
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #952FB9;
}

.block-item-text
{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.block-item-3-img
{
    height: 60%;
}

.see_more
{
    position: absolute;
    right: 10px;
    bottom: 10px;  
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #3E19A8;
}
.blank_line
{
    height: 89px;
        
}

html body footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    height: 89px;
     background: #E3E1EA;
    border-color: #952FB9;
}

#footer
{
    position: absolute;
    width: 1152px;
    right: 0;
    left: 0;
    margin: auto;
    height: 89px;
    border-color: #952FB9;
    
}


#footer_logo
{
    position: absolute;
    width: 76px;
    height: 89px;
    left: 26px;
    top: 0px;

    background: url("images/car_protector_logo.png");
}

#footer_navigation_icon
{
    position: absolute;
    width: 29.71px;
    height: 38.92px;
    left: 169px;
    top: 18px;
    background: url("images/navigation.png");
}

#footer_navigation_text
{
    position: absolute;
    width: 111.93px;
    height: 44px;
    left: 210.07px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #353837;
}

#footer_contacts
{
    position: absolute;
    width: 78px;
    height: 17px;
    left: 354px;
    top: 13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 93.69%;

    color: #353837;
}

#footer_mail
{
    position: absolute;
    width: 132px;
    height: 17px;
    left: 370px;
    top: 36px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 93.69%;

    color: #353837;
}

#footer_icon_fb
{
    position: absolute;
    width: 31px;
    height: 27px;
    left: 799px;
    top: 33px;

    background: url("images/facebook.png")
}

#footer_icon_inst
{
    position: absolute;
    width: 47px;
    height: 36px;
    left: 836px;
    top: 27px;
    background: url("images/instagram.png");
    opacity: 0.5;
}

#footer_icon_mail
{
    position: absolute;
    width: 34px;
    height: 38px;
    left: 889px;
    top: 26px;
    background: url("images/gmail.png");
    opacity: 0.5;
}
