
body
{
    overflow: hidden;
    max-height: 100%;
    /* height: 100%; */
    margin:0px;
    /* display: flex; */
    background-color:#F4F4F4;
/*     background-image: url("images/Rectangle_1.png");
    background-repeat: no-repeat; */
    background-position: 50% 0%;
    background-size: 100% 8800%;

}

header
{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: black;
    height: 70px;
}

main
{
    margin: 0 auto;
    position: relative;
    display: block;
    z-index: 1;
    height: 1000px;
}

img
{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border: none;
}

footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    /* margin: auto; */
    z-index: 2;
    height: 89px;
}


#wraper
{
    position: fixed;
    width: 1000px;
    height: 400px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;


    transform: skew(20deg);
    background: rgba(0,0,0,0.1);
    background: linear-gradient(112.1deg, rgba(62, 25, 168, 0.993687) 7.31%, #3E19A8 17.23%, rgba(29, 6, 121, 0) 63.99%), #952FB9;
}

#text
{ 
    transform: skew(-20deg);
    position: fixed;
    width: 790px;
    height: 135px;
    left: 140px;
    top: 80px;
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 35px;
    color: #FFFFFF;
    
}

#apple
{
    transform: skew(-20deg);
  /*   position: absolute;
    left: 26px;
    top: 0px; */
    position: fixed;
    width: 415px;
    height: 144px;
    left: 100px;
    top: 200px;
    margin: auto;
    background-image: url("images/apple.png");
}

#android
{

    transform: skew(-20deg);
    background: url("images/android.png");

    position: fixed;
    width: 415px;
    height: 144px;
    left: 530px;
    top: 200px;
}

#footer
{
    position: absolute;
    width: 1152px;
    right: 0;
    left: 0;
    margin: auto;
    height: 89px;
}

#box_car_protector
{
    position: absolute;
    width: 116px;
    height: 35px;
    left: 30px;
    top: 8px;
    border-radius: 8px;
}


#CarProtector
{
    position: absolute;
    width: 190px;
    height: 35px;
    left: 40px;
    top: 8px;
    font-family: Iceland;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 35px;
    color: #FFFFFF;
}

#headbuttons
{
    display: flex;
    justify-content: center;
}

#Products
{
    position: relative;
    margin: 10px;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

#Support
{
    position: relative;
    margin: 10px;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

#For_partners
{
    white-space: nowrap;
    position: relative;
    margin: 10px;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

#Blog
{
    position: relative;
    margin: 10px;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

#Structure
{
    position: relative;
    margin: 10px;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: right
}

.box_get_started
{
    position: absolute;
    width: 116px;
    height: 35px;
    right: 30px;
    top: 12px;
    border: 3px solid darkorchid;
    font-size: 18px;
    font-weight: bold;
    color: darkorchid;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 33px;
    font-family: Roboto;
    transition: .6s;
    overflow: hidden;
    border-radius: 8px;
}

.box_get_started::before,
.box_get_started::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: darkorchid;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.box_get_started::after
{
    opacity: 1;
    transition-delay: .2s;
}

.box_get_started:hover
{
    color: #fff;
}

.box_get_started:hover::before,
.box_get_started:hover::after
{
    left: 0;
}

#footer_logo
{
    position: absolute;
    width: 76px;
    height: 89px;
    left: 26px;
    top: 0px;

    background: url("images/car_protector_logo.png");
}

#footer_navigation_icon
{
    position: absolute;
    width: 29.71px;
    height: 38.92px;
    left: 169px;
    top: 18px;
    background: url("images/navigation.png");
}

#footer_navigation_text
{
    position: absolute;
    width: 111.93px;
    height: 44px;
    left: 210.07px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #353837;
}

#footer_contacts
{
    position: absolute;
    width: 78px;
    height: 17px;
    left: 354px;
    top: 13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 93.69%;

    color: #353837;
}

#footer_mail
{
    position: absolute;
    width: 132px;
    height: 17px;
    left: 370px;
    top: 36px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 93.69%;

    color: #353837;
}

#footer_icon_fb
{
    position: absolute;
    width: 31px;
    height: 27px;
    left: 799px;
    top: 33px;

    background: url("images/facebook.png")
}

#footer_icon_inst
{
    position: absolute;
    width: 47px;
    height: 36px;
    left: 836px;
    top: 27px;
    background: url("images/instagram.png");
    opacity: 0.5;
}

#footer_icon_mail
{
    position: absolute;
    width: 34px;
    height: 38px;
    left: 889px;
    top: 26px;
    background: url("images/gmail.png");
    opacity: 0.5;
}